.tweetbox {
  background-color: rgb(236, 240, 246);

  height: 200px;
  width: 550px;

  margin: auto;

  border-radius: 8px;
}

.pfp {
  background-color: rgb(205, 212, 223);
  
  height: 50px;
  width: 50px;

  margin: 10px;

  border-radius: 50%;
  float: left;
}

.name-and-handle {

  height: 50px;
  width: 40%;

  padding: 10px 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  background-color: rgb(205, 212, 223);

  height: 20px;
  width: 100%;
}

.handle {
  background-color: rgb(205, 212, 223);

  height: 20px;
  width: 100%;
}

.tweettext {
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
}

.answer-container {
  /* border: 2px solid black; */

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.answer-container-item {
  background-color: rgb(120, 163, 227);
  color: white;

  border: 2px solid rgb(120, 163, 227);
  border-radius: 8px;

  width: 20%;
  line-height: 50px;
  margin: 10px;

  flex-basis: 300px;
  flex-grow: 1;
}

.answer-container-item:hover {
  background-color: white;
  color: rgb(120, 163, 227);
}

.twitter-tweet {
  margin: auto;
}
